@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", "sans-serif";
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #242424;
  --gradient-color: #00b7ff;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

:root .dark {
  font-size: 25px;
  cursor: pointer;
  --bg-color-dark: #131313;
  --text-color-dark: #fdfdfd;
  --shadow-color: rgb(212, 212, 212);
}

.dark :hover {
  transform: scale(1.2);
  color: #fdc306;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 2.2rem;
  background-color: #f3f2f2;
  border-radius: 10rem;
}

.idiomas {
  width: 3rem;
  top: 10px;
  margin-left: 10px;
  height: 3rem;
}

.menu-icon {
  display: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  overflow-x: hidden;
}

.header {
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
}

.menu-icon {
  font-size: 25px;
  cursor: pointer;
  order: -1;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-right: 3.5rem;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--gradient-color);
  transform: scale(1.09);
}

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 0.2rem;
  background-color: var(--main-color);
  transition: width 0.3s ease-in-out;
}

.navbar a.active:hover::before {
  width: 100%;
}

.logo {
  background: linear-gradient(
    90deg,
    rgb(0, 240, 255, 1) 0%,
    rgb(48, 147, 247, 1) 10%,
    rgb(0, 102, 204, 1) 30%,
    rgba(0, 240, 255, 1) 100%
  );
  font-family: Poppins;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  padding: 0 2.2rem;
  font-weight: 600;
  cursor: default;
  background-size: 200% 100%;
  animation: gradient 8.5s linear infinite;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home {
  display: flex;
  align-items: center;
  margin-top: 10%;
  padding: 70px 7% 2rem;
  text-align: center;
  padding: 5% 7% 2rem;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* Estilos padrão para telas maiores */

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 1;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu-icon {
    display: flex;
    order: 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }

  .options {
    order: -1;
  }

  .idiomas {
    display: none;
  }

  .dark {
    display: none;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 2.2rem 0;
  color: #bbb;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.home .home-content {
  max-width: 44rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.3;
}

.home-content h1 {
  font-size: 4.6rem;
  font-weight: 600;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 2.2rem;
  background-color: #f3f2f2;
  border-radius: 10rem;
  margin: 2rem 0;
}

.home-content .social-media {
  overflow: hidden;
}

.home-content .social-media .social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 60%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  margin: 0 2.5rem 0 2.5rem;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
  filter: opacity(0.7);
  position: relative;
  z-index: 1;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}

.home-content .social-media .social:hover {
  transform: scale(1.2);
  filter: none;
  z-index: 2;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
  -webkit-background-clip: color;
  background-clip: color;
  -webkit-text-fill-color: white;
  background-size: 200% 100%;
  animation: gradient 8.5s linear infinite;
}

.btn .bg-btn:hover {
  background: linear-gradient(
    0deg,
    rgb(0, 240, 255, 1) 0%,
    rgb(72, 197, 255) 50%,
    rgba(0, 240, 255, 1) 100%
  );
}

@keyframes gradient {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}
