@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", "sans-serif";
}

:root {
  --bg-color: #0c0c0c;
  --text-color: #ffffff;
  --main-color: #242424;
  --gradient-color: #00b7ff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --header-bg-color: #000000;
  --header-text-color: #fdfdfd;
  --options-bg-color: #f3f2f2;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo a {
  font-family: "Poppins", "sans-serif";
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.7rem;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
  display: flex;
  align-items: center;
}

.right-icons {
  display: flex;
  align-items: center;
}

.idiomas{
  display: flex;
  margin-left: 10px;
  width: 3rem;
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.contato {
  margin: 30px;
}

.idiomas:hover {
  transform: scale(1.2);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  overflow-x: hidden;
  font-size: 1.6rem;
}

.header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 15px;
}

.menu-icon {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-right: 3.5rem;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--gradient-color);
  transform: scale(1.09);
}

.navbar a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 0.2rem;
  background-color: var(--gradient-color);
  transition: width 0.3s ease-in-out;
}

.navbar a.active::before,
.navbar a:hover::before {
  width: 100%;
  transform: scale(1.09);
}

.logo {
  background: linear-gradient(
    90deg,
    rgb(0, 240, 255, 1) 0%,
    rgb(48, 147, 247, 1) 10%,
    rgb(0, 102, 204, 1) 30%,
    rgba(0, 240, 255, 1) 100%
  );
  font-family: Poppins;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 10px;
  background-size: 200% 100%;
  animation: gradient 8.5s linear infinite;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  top: 5px;
}

@keyframes gradient {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.home {
  display: flex;
  align-items: start;
  margin-top: 8%;
  padding: 70px 7% 2rem;
  text-align: center;
  padding: 5% 7% 2rem;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.sobre {
  display: flex;
  align-items: center;
  margin-top: 100%;
}

.sobre-content {
  border: 2px solid #00cdf1;
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out;
}

.sobre-content:hover {
  box-shadow: 0 0 3rem 2rem rgba(0, 110, 255, 0.3); /* Ajusta a opacidade aqui */
}

@media only screen and (max-width: 1024px) {
  .options{
    margin: 0;
  }

  body.navbar-active {
    padding-top: 80px; /* ou o valor desejado para ajustar o espaço do navbar */
  }

  .navbar {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    display: none;
  }

  .navbar a {
    font-size: 14px; /* ou o valor desejado para telas menores */
    margin-top: 5rem;
    margin-right: 2rem;
  }

  section {
    min-height: 100vh;
    padding: 20rem 7% 2rem;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .home-content h1 {
    margin: 0.45em 0;

  }

  .home-content p,
  .sobre-content p {
    font-size: 1.4rem; /* ou o valor desejado para telas menores */
  }
  .navbar.active {
    transform: translateX(0);
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 80px;
    left: 0;
    width: 50%;
    z-index: 1;
    padding: 10px;
    box-shadow: 0 0.5rem 0.5rem var(--shadow-color);
    transition: background-color 0.3s ease;
    height: 50%;
    animation-duration: 0.5s;
  }

  .menu-icon {
    cursor: pointer;
    display: flex;
    font-size: 3.7rem;
    order: -1;
  }

  .logo {
    display: flex;
    font-size: 30px;
    position: start;
    z-index: 1;
    display: flex;
    align-items: center;
    top: 5px;
    margin-top: 8px;
  }

  .header {
    display: flex;
  }

  .home-content {
    padding-top: 40%;
    margin: 0;
  }
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 2.2rem 0;
  color: #bbb;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.home .home-content {
  max-width: 44rem;
}

.home-content h3,
.sobre-content h3 {
  color: var(--text-color); /* Adicione esta linha */
}

body .home-content h3,
body .sobre-content h3 {
  color: var(--white-color); /* Adicione esta linha */
}

.home-content h1 {
  font-size: 4.6rem;
  font-weight: 600;
}

.home-content p {
  font-size: 1.6rem;
}

.sobre-content h3 {
  font-size: 2.9rem;
  line-height: 1;
  margin-bottom: 10px;
}

.sobre-content p {
  font-size: 1.6rem;
}

.home-content .social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f2f2;
  border-radius: 10rem;
  margin: 2rem 0;
  transition: box-shadow 0.5s ease-in-out;
  margin-top: 50px;
}

.home-content .social-box .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  border-radius: 60%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  margin: 10px;
  margin-right: 3rem; /* Ajuste o espaçamento entre os ícones */
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 1;
  flex: 1;
}

.home-content .social-box .social-icon:hover {
  transform: scale(1.2);
  z-index: 2;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background-color: var(--header-bg-color);
  border-radius: 1rem;
  font-size: 1.7rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  right: -0.5px;
  bottom: -0.5px;
  z-index: -1;
}

.btn:hover {
  transform: scale(1);
  transition: 0.5s ease-out;
  background-size: 200% 100%;
  background-color: transparent;
}


.bg-btn-gradient {
  background: linear-gradient(
    90deg,
    rgb(0, 240, 255, 1) 0%,
    rgb(48, 147, 247, 1) 10%,
    rgb(0, 102, 204, 1) 30%,
    rgb(22, 110, 199) 50%, 
    rgb(26, 156, 243) 70%,
    rgba(0, 240, 255, 1) 100%
);
  background-color: transparent;
  display: inline-block;
  padding: 2px;
  border-radius: 1rem;
  transition: transform 0.3s ease-in;
  animation: gradient 3s linear infinite;
  background-size: 200% 100%;
  margin: 20px;
}

.bg-btn-gradient:hover {
  transform: scale(1.1);
  animation: gradient 3s linear infinite;
}

.animate__fadeInDown {
  animation-duration: 1.5s;
}

.background {
  filter: brightness(200);
  width: 100%;
  position: absolute;
  opacity: 0.2;
  right: 50%;
  top: 83px;
}

.air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}
.air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
