@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", "sans-serif";
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --main-color: #242424;
  --gradient-color: #00b7ff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --header-text-color: #fdfdfd;
  --options-bg-color: #f3f2f2;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

::selection{
  background-color: #00d9ff;
  color: #000;
}

.header {
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13%;
  padding: 50px;

}

.section-home {
  min-height: 100vh;
  padding: 5rem 4% 2rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-sobre {
  min-height: 100vh;
  padding: 1rem 9% 2rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.sobre-content {
  padding: 50px;
  text-align: center;

}


.section-habilidades {
  min-height: 115vh;
  padding: 1rem 9% 2rem;
  max-width: 100%;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-projetos {
  min-height: 100vh;
  padding: 1rem 9% 2rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.section-contato {
  min-height: 100vh;
  padding: 5rem 4% 2rem;
  max-width: 100%;
  display: flex;
}



.overlay_sides {
  margin: 1rem 0;
  z-index: 100;
  @media(min-width: 992px) {
    margin: 3.125rem 0;
  }

  &.overlay_sides_right {
    right: 15px;
    @media(min-width: 992px) {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      right: 3.125rem;
      position: fixed;
      top: 20%;
      height: calc(100vh - 6.25rem);
    }

    .btn_down {
      display: none;
      @media(min-width: 992px) {
        display: flex;
      }
      cursor: pointer;
      border: 0;
      background-color: transparent;
      position: relative;
      padding: 0;
      flex-direction: column;
      align-items: center;
      max-width: 20px;
      min-height: 250px;
      
      svg {
        transition: transform .3s ease;
        position: relative;
        top: 50px;
      }

      &:hover {
        svg {
          transform: translateY(10px);
        }
      }

        span {
          display: block;
          transform: rotate(-90deg);
          color: aliceblue;
          position: relative;
          font-size: 13px;
          opacity: .4;
          letter-spacing: 1px;
          min-width: 100px;
          font-family: 'Source Sans Pro', sans-serif;
        }
    }

    .btn_up {
      display: none;
      @media(min-width: 992px) {
        display: flex;
      }
      cursor: pointer;
      border: 0;
      background-color: transparent;
      position: relative;
      padding: 0;
      flex-direction: column;
      align-items: center;
      max-width: 20px;
      min-height: 100px;
      
      svg {
        transition: transform .3s ease;
        position: relative;
        top: -15px;
      }

      &:hover {
        svg {
          transform: translateY(-10px);
        }
      }

        span {
          display: block;
          transform: rotate(-90deg);
          color: aliceblue;
          position: relative;
          font-size: 13px;
          opacity: .4;
          letter-spacing: 1px;
          min-width: 100px;
          font-family: 'Source Sans Pro', sans-serif;
        }
      
    }

    .nav__wrapper {
      display: none;
      @media(min-width: 992px) {
        display: block;
      }
      #side_nav {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
  
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          border-radius: 50px;
          height: 100%;
          display: block;
          opacity: .4;
          background-color: aliceblue;
        }
        li {
          transition: all .5s ease-in-out;
          a {
            display: block;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            text-decoration: none;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 13px;
            color: aliceblue;
            transition: all .5s ease-in-out;
          }

          &:first-child {
            &.passedSection:hover ~ .line {
              transform: translateY(0);
            }
          }
          &:nth-child(2) {
            &:hover ~ .line, &.active ~ .line {
              transform: translateY(50px);
            }
            &.passedSection:hover ~ .line {
              transform: translateY(50px);
            }
          }
          &:nth-child(3) {
            &:hover ~ .line, &.active ~ .line {
              transform: translateY(100px);
            }
            &.passedSection:hover ~ .line {
              transform: translateY(100px);
            }
          }
          &:nth-child(4) {
            &:hover ~ .line, &.active ~ .line {
              transform: translateY(150px);
            }
            &.passedSection:hover ~ .line {
              transform: translateY(150px);
            }
          }
          &:nth-child(5) {
            &:hover ~ .line, &.active ~ .line {
              transform: translateY(200px);
            }
            &.passedSection:hover ~ .line {
              transform: translateY(200px);
            }
          }
        }
        .line {
          height: 50px;
          width: 3px;
          background-color: aliceblue;
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 50px;
          transition: all .5s ease-in-out;
        }
      }
    }
  }

}

.typing-demo {
  width: 20ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 3rem;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.logo {
  user-select: none;
  background: linear-gradient(
    90deg,
    rgb(0, 240, 255, 1) 0%,
    rgb(48, 147, 247, 1) 10%,
    rgb(0, 102, 204, 1) 30%,
    /* rgb(99, 1, 211) 50%,
    rgb(212, 1, 231) 70%, */
    rgba(0, 240, 255, 1) 100%
  );
  font-family: Poppins;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.7rem;
  font-weight: 600;
  margin-left: 20px;
  background-size: 200% 100%;
  animation: gradient 8.5s linear infinite;
  cursor: pointer;
  z-index: 1;
}

@keyframes gradient {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

#animacao-logo {
  transition: box-shadow 0.2s, transform 0.2s;
}

#animacao-logo:hover {
  cursor: pointer;
}



#animacao-sobre {
  transition: box-shadow 0.2s, transform 0.2s;
}

#animacao-sobre:hover {
  cursor: pointer;
}

.sobre {
  display: flex;
  align-items: center;
  margin-top: 100%;
}


.card-sobre {
  border: 2px solid #474747;
  padding: 50px;
  border-radius: 3rem;
  margin-top: 30px;
  transition: box-shadow 0.5s ease-in-out, border 0.5s ease-in-out; 
}

.card-sobre:hover, .card-sobre.active {
  box-shadow: 0 0 86px 6px rgb(7, 91, 146);
  border: 2px solid #00cdf1;
}


.habilidades-content {
  padding: 50px;
  text-align: center;
}

.habilidades-icones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  
}

.habilidades-icones img {
  margin: 0 20px;
  margin-bottom: 20px;
  width: 5rem; 
  transition: transform 0.5s ease;
  
}

.habilidades-icones img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.projetos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  padding: 2.2rem;
}

.projetos-card {
cursor: pointer;
  position: relative;
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 3px;
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out; 

}

.projetos-card:hover, .projetos-cardactive {
  box-shadow: 0 0 86px 6px rgb(7, 91, 146);
  border: 3px solid #00ffff;
}

.projetos-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), #191b19);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .1s ease-out;
  
}

.projetos-card:hover .projetos-layer{
  transition: 0.5s ease-out;
  transform: translateY(50%);
}

.background-projetos-card {
  background-color: #f3f2f2;
  position: absolute;
    width: 20rem;
    height: 25rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
    align-items: center;
    justify-content: center;
}

#zoom-projetos {
  animation: projetos linear both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 100%;
}

@keyframes projetos {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}


#acender  {
  animation: reveal linear both;
  animation-timeline: view(block);
  animation-range: cover 50% cover 100%;
}

@keyframes reveal {
  0% {
    opacity: 0;

  }
  15% {
    opacity: 1;

  }
  75% {
    opacity: 1;
   
  }
  100% {
    opacity: 0;
 
  }
}


.foto {
  width: 150%;
  height: 350px; 
  margin: 25px;
  border-radius: 50%; 
  object-fit: cover; 
}


#animacao-foto {
  width: 200px;
  margin: 0 auto;
  transition: box-shadow 0.2s, transform 0.2s;
}

#animacao-foto:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
  cursor: pointer;
}


.home-content .social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f2f2;
  border-radius: 10rem;
  margin: 2rem 0;
  transition: box-shadow 0.5s ease-in-out;
  margin-top: 50px;
}

.home-content .social-box .social-icon {
  width: 3rem;
  border-radius: 60%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  margin: 10px;
  margin-right: 3rem; /* Ajuste o espaçamento entre os ícones */
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.home-content .social-box .social-icon:hover {
  transform: scale(1.2);
  z-index: 2;
}

.btn {
  padding: 1rem 2rem;
  background: var(--main-color);
  border-radius: 2rem;
  font-size: 1rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  transition: transform 0.5s ease;
  cursor: pointer;
  border: none;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
}

.btn:hover {
  transform: scale(1);
  transition: 0.5s ease-out;
  background-size: 200% 100%;
  background-color: transparent;
  font-weight: 600;
}

.bg-btn-gradient {
  background: linear-gradient(
    90deg,
    rgb(0, 240, 255, 1) 0%,
    rgb(48, 147, 247, 1) 20%,
    rgb(48, 147, 247, 1) 50%,
    rgba(0, 240, 255, 1) 100%
  );
  display: inline-block;
  padding: 3px;
  border-radius: 2rem;
  transition: transform 0.8s ease;
  animation: gradient 3s linear infinite;
  background-size: 200% 100%;
  margin: 20px;
}
.bg-btn-gradient:hover {
  transform: scale(1.1);
  animation: gradient 3s linear infinite;
  
}

.animate__fadeInDown {
  animation-duration: 1.5s;
}

/* Estilos para dispositivos móveis */

@media screen and (max-width: 767px) {
  .header {
    padding: 20px; /* Reduzir o padding do cabeçalho para dispositivos móveis */
  }
  
  .html{
    display: flex;
    justify-content: center;
  }
  .btn {
    display: none;
  }
  .section-home,
  .section-sobre,
  .section-habilidades,
  .section-contato {
    padding: 2px;

  }

  .logo {
    margin-left: 10px; /* Reduzir a margem do logotipo para dispositivos móveis */
    font-size: 2rem; /* Reduzir o tamanho do logotipo para dispositivos móveis */
  }

  .social-box {
    margin-top: 20px; /* Ajustar margem superior do bloco de ícones sociais para dispositivos móveis */
  }

  .social-box .social-icon {
    margin-right: 1.5rem; /* Reduzir o espaçamento entre os ícones sociais para dispositivos móveis */
  }

  .btn {
    font-size: 0.9rem; /* Reduzir o tamanho do texto dos botões para dispositivos móveis */
    padding: 0.8rem 1.5rem; /* Reduzir o padding dos botões para dispositivos móveis */
  }

  .computer-graphic {
    margin-right: 0; /* Remover margem direita do elemento gráfico para dispositivos móveis */
  }

  .computer-graphic svg {
    width: 100%; /* Definir largura do SVG como 100% para dispositivos móveis */
  }
}


.computer-graphic {
  svg {
    width: 150%;
    .code_graph {
      path {
        animation: float 4s ease-in-out infinite;
        transition: all .3s ease-out;
        
      }
      &:hover {
        path:not(#path3776):not(#path3780):not(#path3772) {
          fill: #00d9ff!important;
        }
      }
    }
    cursor: pointer;
  }
  
  margin-right: 20%;
  position: relative;
  z-index: 0;
 
}

